/* Inventory Table Styling */
.inventory-section {
  width: 100%;
  padding-bottom: var(--spacing-medium);
}

.inventory__table-container {
  width: 100%;
  overflow-x: auto;
}

.inventory__title {
  padding: var(--spacing-medium);
}

.inventory__table {
  width: 100%;
  border-collapse: collapse;
}

.inventory__table th,
.inventory__table td {
  border: 1px solid var(--secondary-color);
  padding: var(--spacing-small);
  text-align: left;
  word-break: break-word;
  text-align: center;
}

.inventory__table-row td:nth-child(even) td {
  background-color: var(--second-background-color);
}

.inventory__table tr:nth-child(even) td {
  background-color: var(--second-background-color);
}


.action-buttons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
}

.edit-button,
.delete-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
}

.edit-button:hover,
.delete-button:hover {
  background-color: var(--secondary-color);
  color: var(--header-text-color);
  transition: all 0.2s ease;
}

/* Media queries */
@media screen and (max-width: 580px) {
  .inventory__table td {
    font-size: var(--font-size-small);
  }

  .edit-button,
  .delete-button {
    width: 24px;
    height: 24px;
    font-size: var(--font-size-small);
  }
}

@media screen and (max-width: 450px) {
  .inventory__table td {
    font-size: 0.5rem;
  }
  .action-buttons__container {
    flex-direction: column;
  }
}
