@font-face {
  font-family: Lato-Regular;
  src: url(../assets/fonts/Lato-Regular.ttf);
}
body {
  min-width: 340px;
  min-height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--spacing-medium);
  font-family: Lato-Regular, sans-serif;
}

header {
  background-color: var(--primary-color);
  color: var(--header-text-color);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  margin: var(--spacing-medium);
  text-align: center;
}

main {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medium) 0;
  margin: 0 auto;
}

/* Inventory Table Styling */
.inventory-section {
  width: 100%;
  padding-bottom: var(--spacing-medium);
}

.inventory__table-container {
  width: 100%;
  overflow-x: auto;
}

.inventory__title {
  padding: var(--spacing-medium);
}

.inventory__table {
  width: 100%;
  border-collapse: collapse;
}

.inventory__table th,
.inventory__table td {
  border: 1px solid var(--secondary-color);
  padding: var(--spacing-medium);
  text-align: left;
  word-break: break-word;
  text-align: center;
}

.inventory__table th {
  background-color: var(--secondary-color);
  color: var(--header-text-color);
}

/* Add Medicine Form */
.add-medicine {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.display-add-medicine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.add-medicine__form {
  width: 50%;
  padding: var(--spacing-medium);
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px #0000001a;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  padding-top: var(--spacing-medium);
}

.add-medicine__group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}
.prescription-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-medium);
padding-left: var(--spacing-medium);
}

.add-medicine__group label {
  font-size: var(--font-size-base);
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: var(--spacing-small);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
}
.radio-button-container {
  display: flex;
  flex-direction: column; /* Stack label above input */
  align-items: center;
}

.add-medicine__buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium) 0;
}
.add-medicine__buttons-container button {
  min-width: 64px;
  height: 32px;
  background-color: var(--button-color);
  color: var(--header-text-color);
  padding: 0 var(--spacing-x-large);
  border: none;
  border-radius: var(--border-radius);
}

/* Button Styling */
.add-medicine__button {
  width: 200px;
  height: 48px;
  background-color: var(--button-color);
  color: var(--header-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medium);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-medium);
  cursor: pointer;
  transition: 0.2s linear;
  position: fixed;
  bottom: 64px;
  right: 64px;
}

.add-medicine__button:hover,
.add-medicine__buttons-container button:hover {
  background-color: var(--button-hover-color);
}
.add-medicine__button:active {
  transform: scale(0.99);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: var(--spacing-medium);
  }

  .inventory__table th,
  .inventory__table td {
    padding: var(--spacing-small);
  }

  .add-medicine {
    padding: var(--spacing-small);
  }

  .add-medicine__button {
    width: 150px;
    font-size: var(--font-size-small);
    padding: var(--spacing-small);
    right: 16px;
    bottom: 32px;
  }
}

@media screen and (max-width: 700px) {
  .header__title {
    font-size: var(--font-size-medium);
  }
  .inventory__table-row th {
    font-size: var(--font-size-small);
  }
  .add-medicine__form {
    width: 90%;
  }
}

@media screen and (max-width: 580px) {
  body {
    padding: var(--spacing-medium) var(--spacing-small);
  }
  .inventory__title {
    font-size: var(--font-size-base);
  }
  .inventory__table-row th {
    font-size: 0.4rem;
    line-break: auto;
    padding: 0;
  }
  .add-medicine__input-label {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 460px) {
  .inventory__table th,
  .inventory__table td {
    padding: var(--spacing-small);
  }

  .add-medicine__input {
    font-size: calc(var(--font-size-base) * 0.9);
  }

  .add-medicine__buttons-container button {
    padding: 0 var(--spacing-large);
  }

  .add-medicine__button {
    padding: 0;
    height: 32px;
    bottom: 24px;
  }
}
